---
title:    What is Inkpress?
author:   Brian Gonzalez
date:     February 11, 2013
---

:markdown
  
  Inkpress is a small, lightweight, dead simple content management system built on free & open source technologies. 

  This little CMS is based solely on static files & git. There is no database and no true application code --- Inkpress gets out of the way and leans on the backs of your file system and Git.

  ## Opinionated by Design

  First and foremost, Inkpress is an opinionated publishing platform. This is by design. What is Inkpress opinionated about? 

  - __No database:__ backup files = easy; manage DB = no fun
  - __No comments:__ leave the discussion for Twitter
  - __Open Source everything:__ to be fully open source, build yourself on open source technologies
  - __Browser agnostic:__ mobile first & responsive -- look great in desktop or mobile browsers
  - __Performance as a feature:__ fast to load, fast to publish
  - __Posts written in Markdown:__ yup, [Markdown](http://daringfireball.net/projects/markdown/) 
  - __Capistrano + Git/Github > FTP:__ sync files to your server with git; reap the benefits of backups 

  ## Why Inkpress? 

  Inkpress takes the best of both the static file generator world (think Jekyll) and the full-blown CMS world (think Wordpress). Though Inkpress claims to be neither a static file generator nor a CMS, it offers what I feel to be the main highlights from both worlds:

  1. Pages rendered down to static HTML files -- [why?](/posts/why-static-html-pages)
  2. The ability to edit pages directly on the server in [Markdown](http://daringfireball.net/projects/markdown/)

  On top of this, Inkpress allows you to sync your entire site directly to a remote git repository.

  [Get Inkpress](#){: class="button"}