
.ink-admin-dialog{

  input { font-family: $code-font }

  position: fixed;
  top: 0; right: 0; left: 0; bottom: 0;
  z-index: 1000;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  font-family: $base-font;

  width: 100%;
  margin: 0;

  background: white;
  text-align: center;

  border: 12px solid $admin-darkgrey;

  @include border-radius(0);
  @include single-transition(all, 100ms);

  @include query-at($nav-breakpoint){
    width: 500px;
    margin-left: -250px; 
    overflow-y: auto;
    
    top: 30px; left: 50%;
    right: auto; bottom: auto;

    @include border-radius(2px);
  }

  header{
    padding: 1.5em;
    @include border-radius(2px 2px 0 0);
    border-bottom: 10px solid $admin-darkgrey;

    h2 { margin: 0; color: $admin-darkgrey; font-family: $base-font; font-weight: bold;}
  }

  .content{
    padding: 20px;

    @include query-at($nav-breakpoint){
      max-height: 500px;
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
    }

    @include mixed-query-at($nav-breakpoint, $breakpoint-3) {
      max-height: 300px;
      -webkit-overflow-scrolling: touch;
    }

    input, a.button{ margin-top: $base-space/2; }

    & input:first-child{
      margin-top: 0;
    };

    input[type=text], input[type=password] { 
      width: 100%; 
      outline: none;
      border: 5px solid $admin-darkgrey;
      padding: 10px;

      &[disabled]{ 
        border: none;
        background: rgba( $admin-lightgrey, 0.3);
        color: $admin-darkgrey;
      }

      &:hover, &:focus{
        @include box-shadow(0 0 10px $admin-lightgrey);
      }

    }

    input[type=file]{ width: 250px; }
    .file-url{ 
      padding: 5px; 
      border: 5px solid $admin-darkgrey; 
      display: none; 
      white-space: nowrap; 
      overflow-x: scroll; 
      margin-top: $base-space/2;
      width: 100%;
      float: left;
    }

    a.admin-button{
      float: none;
      margin-right: 0;
      margin-left: 0;
      margin-top: $base-space/2;

      @include query-at($nav-breakpoint){
        float: right;
        margin-left: $base-space/2;
      }
    }

    & a.admin-button.full:first-of-type:not(.full-margin){
      margin-top: 0;
    }

    & input + a.admin-button.full{
      margin-top: $base-space/2 !important; 
    }

    .other-actions{
      margin-top: $base-space/2;
      width: 100%;
      float: right;

      a{ float: right }
    }

    a:not(.admin-button){ color: $admin-red; }

    &.output { text-align: left; background: $admin-darkgrey + 30; color: white;  }

    // Drag Uploader //
    .drag-area{
      border: 5px solid $admin-darkgrey + 10;
      height: 150px;
      i.icon-upload{ font-size: 90px; color: $admin-darkgrey + 10; line-height: 120px;}

      &.dragover{ 
       border-color: $admin-darkgrey;
        i.icon-upload{ color: $admin-darkgrey; }
      }
    }
  }

}