
$z-controls: 100;
$z-preview: 101;
$z-zen-toggle: 103;


.admin-edit-page{
  position: fixed; top: 0; right: 0; bottom: 0; left: 0;
  font-family: $code-font;

  .controls{
    position: fixed; top: 0%; right: 10%; left: 0;
    background: $admin-darkgrey;
    @include clearfix;
    @include box-shadow(0 3px 10px rgba($admin-lightgrey, 0.25) );
    z-index: $z-controls;
    height: $base-space*2;

    a.control{
      float: left;
      height: 100%;
      text-transform: uppercase;
      font-weight: bold;
      text-align: center;
      font-size: 18px;
      color: white - 10;
      background: $admin-darkgrey;
      border-right: 1px solid rgba(white, 0.2);
      padding: 12px 15px;
      display: block;

      &:hover{ color: white; background: $admin-darkgrey + 20; }
      &.highlight{ color: $admin-darkgrey + 30; }

      @include query-at($nav-breakpoint)  { font-size: 22px; padding: 12px 20px; }
      @include query-at($main-breakpoint) { font-size: 24px; padding: 14px 20px; }
    }

    .save-progress{
      height: 100%;
      width: 3px;
      background: rgba(white,0.9);
      position: fixed; top: 0; left: 0;
      z-index: $z-controls + 1;

      &.animate{
        @include single-transition(all, 1500ms);
        height: 0;
      }
    }

    .saves-automatically{
      color: white;
      position: fixed; top: 5px; right: 5px; 
      z-index: $z-controls + 1;
      font-size: 0.7em;
      line-height: 1;
      text-align: right;
    }

  }

  &.inkpress-settings .controls, 
  &.inkpress-settings textarea.code{ right: 0; }

  .zen-controls{
    position: absolute; top: 10px; right: 10px;
    z-index: $z-zen-toggle + 1;
    display: none;
    &.on{ display: block; }

    i{
      float: right;
      color: rgba($admin-lightgrey, 0.3);
      font-size: 1.4em;
      cursor: pointer;
      margin-right: 0.5em;

      &:hover{ color: rgba($admin-lightgrey, 0.6); };
    }
  }

  textarea.code{
    position: fixed; top: 0; right: 10%; bottom: 0; left: 0;
    background: $tan-grey; 
    padding: $base-space; 
    padding-top: $base-space*3;
    border: 0; 
    outline: none;
    -webkit-appearance:none;
    @include box-shadow(0);
    @include border-radius(0);
    font-size: 1em;
    line-height: 1.8;
    resize: none;
    @include box-shadow(inset 0 -3px 10px rgba($admin-lightgrey, 0.25));
    @include single-transition(all, 100ms);
    @include transform( translateZ(0) );

    @include query-at($main-breakpoint){
      padding: $base-space*3; 
    }

    &:focus { outline:0px none transparent; }
    &.zen{
      position: fixed; top: 0; right: 0; bottom: 0; left: 0;
      z-index: $z-zen-toggle;
      padding-top: $base-space;
      font-size: 1em;
      @include query-at($main-breakpoint) { font-size: 1.4em; }
    }
    &.night{
      color: white; background: $admin-darkgrey + 20;
      @include box-shadow(none);
    }
  }  

  .admin-preview{
    position: absolute; top: 0; left: 90%; bottom: 0; 
    height: 100%; width: 90%;
    border: none;
    border-left: 1px solid rgba($admin-lightgrey, 0.5);
    z-index: $z-preview;
    display: block;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    @include single-transition(all, 200ms);
    @include box-shadow( -2px 0 2px rgba(0,0,0,0.05) );
    &.in-focus{ left: 10%; }

    iframe{ 
      width: 100%; 
      height: 100%;
      border: none; 
      overflow-y: scroll;
      z-index: $z-preview + 1;
      -webkit-overflow-scrolling: touch; }
  }

}