/* 
 * ADMIN VARIABLES
 * =================================================== */

$admin-darkgrey:              #15110e;
$admin-lightgrey:             #15110e + 150;
$admin-red:                   #f17b66;