@import 'partials/code_theme';

pre{
  margin-top: 0;
  margin-bottom: $base-space;
  position: relative;
  overflow: hidden;
  @include border-radius(1px);
  @include box-shadow(5px 5px 0 $super-lightgrey);

  code{
    padding: $base-space/2;
    display: block;
    position: relative;

    line-height: 1.6;
    font-size: 0.95em;
    @include box-sizing(border-box);
  }

  .name{
    position: absolute; top: 0; right: 0;
    font-size: 0.65em;
    line-height: 1.2;
    color: $lightgrey - 100;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: rgba($lightgrey, 0.3);
    padding: 3px 7px;
    @include border-radius(0 0 0 2px);
  }

}

p, li{
  code{
    background: $super-lightgrey + 10;
    padding: 1px 5px 2px 5px;
    border: 1px solid $lightgrey;
    @include border-radius(3px);
    margin: 3px;
    color: #000;
    @include box-shadow(2px 2px 0 $super-lightgrey);
  }
}
