div[role='main']{

  footer{
    color: $lightgrey - 60; 
    margin-bottom: $base-space*2;
    margin-top: $base-space*2;
    padding-top: $base-space;
    clear: both; 
    border-top: 1px solid $super-lightgrey;
    font-size: 0.8em;
    position: relative;

    &, a { line-height: 1.2 }

    a, a:visited, a:active  { color: $lightgrey - 60; font-size: 0.8em; text-decoration: none; border: 0; font-weight: normal; }
    a:hover                 { color: $lightgrey - 100; } 

    .description, .copyright  { float: left; }
    .copyright                { clear: both;  }
    .login, .user             { float: right; i{ font-size: 0.5em; } }

    .user a                   { font-weight: bold; }

    img.logo{
      position: absolute; top: 95%; left: 50%;
      display: block;
      margin-right: -0.6em;
      height: 70%;
      text-align: center;
      opacity: 0.2;
    }

  }
}