body.home, body.posts{

  div[role="main"]{
    section.post{
      @include clearfix;
      padding-bottom: $base-space;
      border-bottom: 1px solid $super-lightgrey; 

      & h2:not(:first-child) { margin-top: $base-space; }
      &:last-of-type      { border: 0; padding-bottom: 0; }

      ul{
        padding: 0;
        margin: 0;

        li{
          list-style-type: none;
          &:not(:first-child){ margin-top: $base-space/5 }

          a, a:hover, a:visited{
            color: $text-color;
            border-bottom: 1px solid $primary-color;
            line-height: 1.1;
            font-weight: normal;
            @include border-radius(0);

            &:hover{ color: $primary-color - 20; };
          }

          time{
            display: block;
            color: $lightgrey - 20;
            font-size: 0.75em;
          }

        }
      }


    }
  }

}