
nav{
  float: left;
  width: 100%;
  display: none;

  @include query-at($nav-breakpoint){ 
    display: block;
    margin: $base-space 0;
    font-size: 1.2em;
  }

  ul{  
    list-style-type: none;
    overflow: visible;
    margin: 0; padding: 0;
    font-size: 1em;

    @include query-at($nav-breakpoint){ 
      margin: auto;
      font-size: 0.8em;
      font-weight: normal;
    }

    @include query-at($main-breakpoint){
      padding: 0 5px; 
    }

    li{
      overflow: visible;
      width: 100%;
      background: $secondary-color;
      padding: $base-space/2.5 0;
      border-top: 1px solid rgba(white, 0.1);

      @include query-at($nav-breakpoint){
        padding: $base-space/4 0;
        margin-right: 1em;
        margin-top: none;
        padding: 0;
        display: inline-block;
        background: none;
        width: auto;
        border: none;
      }

      @include query-at($main-breakpoint){
        padding: 0.2em 0;
        display: block;
      }

      a, a:hover, a:visited{
        font-size: 0.8em;
        text-decoration: none;
        text-transform: uppercase;
        color: $lightgrey;
        display: block; width: 100%; height: 100%;
        font-weight: 400;
        font-family: $base-heading-font;
        letter-spacing: 1px;
        @include single-transition(all, 250ms);

        &.current, &:hover{  color: white }
      }

      @include query-at($nav-breakpoint){
        a, a:hover, a:visited{
          width: auto; height: auto; 
          display: inline; 
          color: $text-color;

          &.current, &:hover{ 
            color: $primary-color; 
            border-bottom: 1px solid rgba($primary-color, 0.2); 
            border-top: 1px solid rgba($primary-color, 0.2); 
          }
        }
      }

      @include query-at($main-breakpoint){
        a, a:hover, a:visited{
          padding: 0;
          display: inline-block;
          border: none;

          &.current, &:hover{ 
            border: none;
            color: $primary-color;
          }
        }
      }
    }



  }

}