!!!

%head
  <title>
  = yield.strip
  </title>
  <link rel="shortcut icon" href="#" />
  <script type="text/javascript"> window.location.href = "#{yield.strip}" </script>

%body

  = partial "partials/ga"
