---
title: Getting Started with Inkpress
flags: 'titleize'      
---

:markdown

  Getting started with your first Inkpress site is easy.
  ## Installation  

  To install Inkpress locally, run the following commands in the terminal:

      $ > git clone https://github.com/briangonzalez/inkpress
      $ > cd inkpress
      $ > bundle install
      $ > rake ink:clean     # sets up new Inkpress site
      $ > rake start         # fires up the Inkpress server
    {:lang=shell}

  It's assumed you have local & up-to-date copies of [Ruby](https://rvm.io/) & [Git](http://git-scm.com/) on your machine.

  ## Logging In

  Inkpress comes installed with a default username/password. Press `CMD + L` and login with the following credentials:
 
  - __Username__: test
  - __Password__: test

  You'll now see your username in the lower right-hand corner of the page.

  ## Adding a new User

  Once you've logged in you'll want to remove the default "test" user and create your own credentials. 

  Press `CMD + A` to pull up the Actions dialog, then click "Generate Key". Enter your desired username/password then click "Generate".

  ## Creating Content

  Inkpress __content__ comes in two forms: _Pages_ & _Posts_.
  
  You can think of _Pages_ as the part of your site that does not expire with time -- the _Contact_ page, the _About_ page, or the _Resume_ page. You can think of _Posts_ as the part of your site that come in blog form.

  To create content open the Actions dialog, then click "New Page or Post". Enter the title of your post in a URL-friendly manner, then begin editing. 

  ## Read the Docs

  Lot's of good info can be found in the docs.

  [Documentation](/documentation){: class="button"}