---
title:  About 
flags:  ['titleize']
---

:markdown

  InkPress is a small, lightweight, dead simple content management system built on free & open source technologies. In fact, the site your currently on is an Inkpress site. Snazzy, eh?

  Read the [getting started page](/getting-started) or peruse the [docs](/documentation) to learn more about Inkpress.

  [Get Inkpress](https://github.com/briangonzalez/inkpress){: class="button"}

  ## Follow Me on Twitter

{file: follow_button.haml}