
<div class='ink-admin-dialog'>
  
  <header>
    <h2>Logged in as "{{ $.ink.admin.user }}"</h2>
  </header>

  <div class='content'>      
    <a class='admin-button full logout'>Log Out</a>
    <a class='admin-button full close'>Close</a>
  </div>

</div>