
<div class='ink-admin-dialog'>
  
  <header>
    <h2>Sync</h2>
  </header>

  <div class='content'>      
    <a class='admin-button full sync'>Sync</a>
    <a class='admin-button full status'>Status</a>
    <a class='admin-button full close'>Close</a>
  </div>

</div>