

  <div class='ink-admin-dialog'>
    
    <header>
      <h2>Login</h2>
    </header>

    <div class='content'>
      <input type='text'      class="username" placeholder="username">
      <input type='password'  class="password" placeholder="password">

      <a class='admin-button login'>Login</a>
      <a class='admin-button close'>Close</a>

      <div class='other-actions'>
        <a href="#" class='generate-key'>generate new key</a>
      </div>
    </div>

  </div>