<div class='ink-admin-dialog'>
  
  <header>
    <h2> Add a New User </h2>
  </header>

  <div class='content'>
    <input type='text'      class="username" placeholder="username">
    <input type='password'  class="key"      placeholder="generated key">

    <a class='admin-button add'>Add</a>
    <a class='admin-button close'>Close</a>

    <div class='other-actions'>
      <a href="#" class='generate-key'>generate new key</a>
    </div>
  </div>

</div>