
<div class='ink-admin-dialog'>
  
  <header>
    <h2>Output</h2>
  </header>

  <div class='content output'>      
    <p>
       {{ obj.output }}
    </p>
    <a class='admin-button full close light'>Close</a>
  </div>

</div>