
  <div class='ink-admin-dialog'>
    
    <header>
      <h2>New short URL</h2>
    </header>

    <div class='content'>
      <input type='text'      class="url"        placeholder="url">
      <input type='text'      class="short-url"  placeholder="short url" disabled>
      
      <a class='admin-button generate'>Generate</a>
      <a class='admin-button close'>Close</a>

    </div>

  </div>