<div class='ink-admin-dialog'>
  
  <header>
    <h2> New File </h2>
  </header>

  <div class='content'> 
    <input type='text' class="name" placeholder="name">
    <a class='admin-button full create'>Create</a>
    <a class='admin-button full close'>Close</a>

  </div>

</div>