

  <div class='ink-admin-dialog'>
    
    <header>
      <h2>Generate a New Key</h2>
    </header>

    <div class='content'>
      <input type='text'      class="username"  placeholder="desired username">
      <input type='password'  class="password"  placeholder="desired password">
      <input type='text'      class="key"       placeholder="key" disabled>
      
      <a class='admin-button generate'>Generate</a>
      <a class='admin-button close'>Close</a>

    </div>

  </div>