  <div class='ink-admin-dialog'>
    
    <header>
      <h2>Upload a File</h2>
    </header>

    <div class='content'>

      <div class='drag-area'>
        <h1>
          <i class='icon-upload'></i>
        </h1>
      </div>

      <input type='file' class='file'>
      <div class="file-url"></div>

      <a class='admin-button full-margin close'>Close</a>
    </div>

  </div>