---
title:    Roadmap
author:   Brian G.
date:     February 23, 2013
---

:markdown
  Here's a list of things I want Inkpress to have implemented in the near future:

%ul
  %li
    Dynamic Sitemap & RSS Feed
  %li
    Better documentation and more posts about the small things that make Inkpress cool
  %li
    Rake tasks to import Inkpress site; make Inkpress altogether more portable (theming, etc.)
  %li
    Add import tasks for other popular CMSs -- e.g. Wordpress, Octopress

%hr

%ul
  %li
    %strike
      Custom root path
  %li
    %strike
      Ability to pull latest code from within the UI
  %li
    %strike
      Build Inkpress